.env
.env.save
.env.save.1
config.json
Readme.md
scorbits_chain.json
mempool.json
wallet.json
backups/
dist/
releases/
scorbits.exe
static/uploads/
static/miners/*.exe
static/miners/*.zip
static/miners/linux/scorbits-miner-linux
static/miners/mac/scorbits-miner-macos
static/miners/win/scorbits-miner-windows.exe
static/nodes/
static/miner.wasm
*.log
env.example
static/miners/win/*.zip
dist/
releases/
static/miners/linux/scorbits-miner-linux
static/miners/mac/scorbits-miner-macos
static/miners/*.zip
static/wasm_exec.js

# Compiled binaries
pool
scorbits
