MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/?appName=Scorbits
MONGODB_DB=scorbits
EXPLORER_PORT=8080
NODE_PORT=3000
SESSION_SECRET=change_this_to_a_random_secret_string
SMTP_EMAIL=votre@gmail.com
SMTP_PASSWORD=xxxx xxxx xxxx xxxx
SMTP_FROM=Scorbits <votre@gmail.com>
BASE_URL=https://votre-domaine.com
